*{
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
    
}
body{
    font-family: 'Georama', sans-serif;
    margin: 0;
    padding: 0;
} 
header{
    background-color: #273c75;
    width: 100%;
    height: 60px;
    position: fixed;
}
header h2{
    margin: 10px 0 0px 60px;
}
header h2 a{
    text-decoration: none;
    color: white;
}

.main{
    height: 100%;
    margin-top: 60px;
    padding: 10px 50px;
}
/* icon bar */
#icon-bar{
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 70px;
    margin-top: 60px;
    background-color: rgb(20, 20, 70);
    transition: transform 250ms ease-in-out;
}
.icon-menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.icon-menu li{
    color: rgb(189, 189, 189);
}
.icon-menu div{
    font-size: small;
    color: rgb(105, 105, 105);
    border-bottom: 1px solid rgba(172, 172, 172, .2);
    padding: 10px;
    visibility: hidden;
}
.icon-menu li a{
    color: rgb(189, 189, 189);
    display: block;
    text-decoration: none;
    padding: 20px;
}
/* sidebar */
#sidebarmenu{
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    margin-top: 60px;
    background-color: rgb(20, 20, 70);
    transition: transform 250ms ease-in-out;
}
#opensidebarmenu:checked ~ #sidebarmenu{
    transform: translateX(-300px);
}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li{
    color: rgb(189, 189, 189);
}
.menu div{
    font-size: small;
    color: rgb(105, 105, 105);
    border-bottom: 1px solid rgba(172, 172, 172, .2);
    padding: 10px;
    
}
.menu li a{
    color: rgb(189, 189, 189);
    display: block;
    text-decoration: none;
    padding: 20px;
}

.sidebaricon{
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 20;
    top: 22px;
    left: 15px;
    cursor: pointer;
}
.spinner{
    height: 3px;
    background-color: white;
    transition: all .3s;
}
.spinner.middle, .spinner.bottom{
    margin-top: 3px;
}
/*CSS for dropdown in sidebar */
.menu .accordion-button{
    background-color: rgb(20, 20, 70);
    border: 0;
    color: rgb(189, 189, 189);
    
}
.inner-menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.inner-menu li a{
    color: rgb(189, 189, 189);
    display: block;
    text-decoration: none;
    padding: 3px;
}
li:hover,.accordion-button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}